/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
	text-decoration: none;
}
a:selection {
	color: black;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}
button {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	background-color: white;
	border-radius: 60px ;
	border: 2px solid #1D6154;
	margin-left : 10px;
	padding: 5px 20px;
	text-align: center;
	cursor: pointer;
}
button:focus {
	background-color: #1D6154;
	color: white;
	outline: none;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	display: flex;
    justify-content: center;
    align-items: center;
}
.filters {
	margin-bottom: 3em;
	display: flex;
	align-items: center;	
	justify-content: center;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
.form {
	width: 50%;
margin: auto;
}
.form > * {
	text-align: center;

}
.form h2{
	margin-bottom: 20px;
}
.form form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.form input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form label {
	margin: 2em 0 1em 0;
}
.form textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form a {
	text-decoration: underline;
}

#login {
	margin-top: 100px;
}
#error-container {
	color: red;
	margin-top: 20px;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/********** Mode édition ****************/
#authSuccessMessage {
	background-color: black;
	text-align: center;
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	display: none;
}
.fa-regular {
	margin-right: 10px;
}

#loginLogoutLink {
	font-size: 1.2em;
	padding: 0 10px;
}
.hidden {
	display: none;
  }
#editButton {
	border: none;
	color: black;
	font-size: 14px;
	font-family:"Work Sans";
}

/********** Modale ****************/
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  overflow: scroll;
}

.modal-content {
  background-color: #fefefe;
  margin: 8% auto; 
  padding: 0 60px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 40%; 
  text-align: center;
  position: relative;
}
.modal-content h2 {
	margin-top: 40px;
}

.close {
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#addPhotoButton {
font-family: 'Syne';
font-weight: 700;
color: white;
background-color: #1D6154;
width: 300px;
text-align: center;
border-radius: 60px ;
cursor: pointer;
margin-bottom: 40px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	padding: 10px;
	margin: 35px 0;
  }
  
.grid-item {
	border: 1px solid #ccc;
	border-radius: 4px;
	position: relative;
  }
  
.grid-item img {
	width: 100%; 
	height: auto; 
	display: block;
	margin: 0;
	padding: 0;
  }
/********** Modale ajout photo ****************/
.photo-upload-container {
    margin: 20px 0;
    text-align: center;
}

.photo-upload {
    display: inline-block;
    padding: 10px;
    border: 1px dashed #ccc;
    cursor: pointer;
    margin-bottom: 10px;
    color: #999;
    background-color: #E8F1F6
}

.photo-upload i {
    display: block;
    font-size: 24px;
    margin-bottom: 8px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

/* Ajouts pour le formulaire dans la modale */
#addPhotoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Styles pour les inputs et select dans le formulaire */
#addPhotoForm input[type="text"],
#addPhotoForm select {
    width: 50%; 
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    height: 40px; /* Hauteur ajustée pour les champs de texte et le select */
    font-size: 14px;
}

.photo-preview {
	/* ... autres styles ... */
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; /* Empêche l'image de déborder */
  }
  
  .photo-preview img {
	max-height: 200px;
	max-width: 100%;
	height: auto; /* Gardez le rapport hauteur/largeur */
  }


